

<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Customer</th>
        <th>Detail</th>
        <th>Status</th>
    </tr>
    @foreach (var role in @Model.roles)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>@role.Name</td>
            <td>working</td>
            <td>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-success btn-sm"
                          >
                        Approve
                    </button>
                </form>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-danger btn-sm"
                            >
                        Reject
                    </button>
                </form>
            </td>
        </tr>
    }
</table>